<?xml version='1.1' encoding='UTF-8'?>
<project>
  <actions/>
  <description>It will compute statistics on average metadata size in bytes per RADOS object, using results from 3-Bluestore-linode test.  If the percent deviation exceeds 10% the test will fail.</description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <com.sonyericsson.rebuild.RebuildSettings plugin="rebuild@1.28">
      <autoRebuild>false</autoRebuild>
      <rebuildDisabled>false</rebuildDisabled>
    </com.sonyericsson.rebuild.RebuildSettings>
    <hudson.model.ParametersDefinitionProperty>
      <parameterDefinitions>
        <hudson.model.StringParameterDefinition>
          <name>Test_ID</name>
          <description></description>
          <defaultValue>Jenkins-Test-${BUILD_ID}-${BUILD_TIMESTAMP}</defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>archive_dir</name>
          <description>Directory that analysis scripts are to be run on. </description>
          <defaultValue>Nul</defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>pct_deviation</name>
          <description>if the percent deviation in the result is greater than this then the test will fail.</description>
          <defaultValue>10</defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
      </parameterDefinitions>
    </hudson.model.ParametersDefinitionProperty>
  </properties>
  <scm class="hudson.scm.NullSCM"/>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>#!/bin/bash

script_dir=/automated_ceph_test

cd $archive_dir
export PCT_DEVIATION=$pct_deviation
$script_dir/scripts/evaluateMetaPerObj.py $Test_ID $testscript.log
</command>
    </hudson.tasks.Shell>
  </builders>
  <publishers/>
  <buildWrappers/>
</project>