<?xml version='1.1' encoding='UTF-8'?>
<project>
  <actions/>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <com.sonyericsson.rebuild.RebuildSettings plugin="rebuild@1.28">
      <autoRebuild>false</autoRebuild>
      <rebuildDisabled>false</rebuildDisabled>
    </com.sonyericsson.rebuild.RebuildSettings>
    <hudson.model.ParametersDefinitionProperty>
      <parameterDefinitions>
        <hudson.model.BooleanParameterDefinition>
          <name>linode_cluster</name>
          <description>Flag to specify if the setup is being performed in linode. Default is false</description>
          <defaultValue>false</defaultValue>
        </hudson.model.BooleanParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>cbt_archive_dir</name>
          <description>cbt archive directory, defaults to pbench agent output directory with jenkins build ID (build time stamp).</description>
          <defaultValue>/var/lib/pbench-agent/Jenkins-Test-${BUILD_ID}-${BUILD_TIMESTAMP}</defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.TextParameterDefinition>
          <name>cbt_settings</name>
          <description>CBT settings file</description>
          <defaultValue>cluster:
    use_existing: true
    head: &quot;&lt;test_host&gt;&quot;
    clients: [&lt;CLI_LIST&gt;]
    osds: [&lt;OSD_LIST&gt;]
    mons: [&lt;MON_LIST&gt;]
    conf_file: &apos;/etc/ceph/ceph.conf&apos;
    osds_per_node: 1 
    clusterid: ceph
    iterations: 1
    pool_profiles:
      rbd3rep:
        pg_size: 128
        pgp_size: 128
        replication: 3
benchmarks:
    librbdfio:
        time_based: true
        time: 120
        ramp: 60
        vol_size: 4096
        volumes_per_client: 1
        log_avg_msec: [1000]
        mode:  [read] #[read, write, randwrite, randread, randrw] 
        op_size: [4096] #[4096, 8192, 16384, 32768, 65536] 
        concurrent_procs: [1]
        numjobs: [1]
        iodepth: [32]  #[16]
        cmd_path: &apos;/usr/local/bin/fio&apos;
        pool_profile: &apos;rbd3rep&apos;
        use_existing_volumes: true</defaultValue>
          <trim>false</trim>
        </hudson.model.TextParameterDefinition>
        <org.jvnet.jenkins.plugins.nodelabelparameter.NodeParameterDefinition plugin="nodelabelparameter@1.7.2">
          <name>agentName</name>
          <description></description>
          <allowedSlaves/>
          <defaultSlaves>
            <string>master</string>
          </defaultSlaves>
          <triggerIfResult>multiSelectionDisallowed</triggerIfResult>
          <allowMultiNodeSelection>false</allowMultiNodeSelection>
          <triggerConcurrentBuilds>false</triggerConcurrentBuilds>
          <ignoreOfflineNodes>false</ignoreOfflineNodes>
          <nodeEligibility class="org.jvnet.jenkins.plugins.nodelabelparameter.node.AllNodeEligibility"/>
        </org.jvnet.jenkins.plugins.nodelabelparameter.NodeParameterDefinition>
      </parameterDefinitions>
    </hudson.model.ParametersDefinitionProperty>
  </properties>
  <scm class="hudson.scm.NullSCM"/>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>true</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>#!/bin/bash

script_dir=$HOME/automated_ceph_test

if [ &quot;$linode_cluster&quot; == &quot;true&quot; ]; then
	inventory_file=$HOME/ceph-linode/ansible_inventory
else
	inventory_file=$script_dir/ansible_inventory
fi

source /etc/profile.d/pbench-agent.sh
mkdir -p $HOME/cbt/jenkins_jobfiles/
jobfiles_dir=$HOME/cbt/jenkins_jobfiles/
echo &quot;$cbt_settings&quot; &gt; $jobfiles_dir/automated_test.yml

$script_dir/scripts/addhost_to_jobfile.sh $jobfiles_dir/automated_test.yml $inventory_file

echo &quot;################Jenkins Job File################&quot;
cat $jobfiles_dir/automated_test.yml

sudo mkdir -m 777 $cbt_archive_dir
$HOME/cbt/cbt.py $jobfiles_dir/automated_test.yml -a $cbt_archive_dir

echo &quot;role_to_hostnames [ &quot; &gt; $cbt_archive_dir/results/ansible_facts.json
ansible all -m setup -i $inventory_file | sed -s &apos;s/ | SUCCESS =&gt; /&quot;&amp;/&apos; | sed -s &apos;s/ | SUCCESS =&gt; /&quot;: /&apos; | sed -s &apos;s/},/}/&apos; | sed -s &apos;s/}/},/&apos; &gt;&gt; $cbt_archive_dir/results/ansible_facts.json
echo &quot;]&quot; &gt;&gt; $cbt_archive_dir/results/ansible_facts.json

</command>
    </hudson.tasks.Shell>
  </builders>
  <publishers/>
  <buildWrappers/>
</project>