<?xml version='1.1' encoding='UTF-8'?>
<project>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties/>
  <scm class="hudson.scm.NullSCM"/>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>#!/usr/bin/bash

#check if cbt is already installed
#need to set default install dir, currently /root/cbt

if not installed
git https://github.com/ceph/cbt.git
else if should we update 
git update default_install location
else
nothing to do here CBT is installed and/or up to date

#should install on a nfs mount in order to setup all servers using ansible. 
check all servers can reach local CBT nfs mount
if not, setting up mount
using ansible execute /default_dir/cbt/setup.sh on all servers, or install pdsh using yum. 








</command>
    </hudson.tasks.Shell>
  </builders>
  <publishers/>
  <buildWrappers/>
</project>