<?xml version='1.1' encoding='UTF-8'?>
<project>
  <actions/>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties/>
  <scm class="hudson.scm.NullSCM"/>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>/usr/bin/bash

ssh root@pcloud13.perf.lab.eng.bos.redhat.com &quot;

echo \&quot;CVE disabled on clients\&quot;

ansible -m shell -a &quot;/caltech/patch-enablement.sh&quot; servers | tee /var/lib/pbench-agent/04-3-2018/CVE-default-4k-write/CVE_STATUS.txt


cd /caltech/cbt
./cbt.py old/spectre-meltdown/spectre-meltdown-HDD-4k-write-t1.yml -a /var/lib/pbench-agent/04-3-2018/CVE-default-4k-write/

cd /var/lib/pbench-agent/04-3-2018/CVE-default-4k-write/results
/caltech/calculate-iops-frmjson.sh
/caltech/evaluatefio-pushes.py


&quot;</command>
    </hudson.tasks.Shell>
  </builders>
  <publishers/>
  <buildWrappers/>
</project>