<?xml version='1.1' encoding='UTF-8'?>
<project>
  <actions/>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties/>
  <scm class="hudson.scm.NullSCM"/>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>#/usr/bin/bash

ssh root@b06-h27-1029p.rdu.openstack.engineering.redhat.com &quot;


ceph -s 

echo \&quot;CVE 8k random write test \&quot;

cd /perf1/cbt
./cbt.py old/spectre-meltdown/spectre-meltdown-t3.yml -a /var/lib/pbench-agent/8KRandomwrite-spectre-meltdown-CVEdisabled

cd /var/lib/pbench-agent/8KRandomwrite-spectre-meltdown-CVEdisabled
/perf1/Tools/calculate-iops-frmjson.sh

ceph -s 
&quot;</command>
    </hudson.tasks.Shell>
  </builders>
  <publishers/>
  <buildWrappers/>
</project>