<?xml version='1.1' encoding='UTF-8'?>
<project>
  <actions/>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <com.sonyericsson.rebuild.RebuildSettings plugin="rebuild@1.28">
      <autoRebuild>false</autoRebuild>
      <rebuildDisabled>false</rebuildDisabled>
    </com.sonyericsson.rebuild.RebuildSettings>
    <hudson.model.ParametersDefinitionProperty>
      <parameterDefinitions>
        <hudson.model.StringParameterDefinition>
          <name>Test_ID</name>
          <description></description>
          <defaultValue>Jenkins-Test-${BUILD_ID}-${BUILD_TIMESTAMP}</defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>archive_dir</name>
          <description>Directory that analysis scripts are to be run on. </description>
          <defaultValue>Nul</defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>elasticsearch_host</name>
          <description></description>
          <defaultValue>10.18.81.12</defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>elasticsearch_port</name>
          <description></description>
          <defaultValue>9200</defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
      </parameterDefinitions>
    </hudson.model.ParametersDefinitionProperty>
  </properties>
  <scm class="hudson.scm.NullSCM"/>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>#!/bin/bash

script_dir=/automated_ceph_test

cd $archive_dir/results
$script_dir/scripts/evaluatefiologs_pushes.py $Test_ID $elasticsearch_host $elasticsearch_port
$script_dir/scripts/evaluatefiojson_pushes.py $Test_ID $elasticsearch_host $elasticsearch_port
cd $archive_dir
$script_dir/scripts/evaluatepbench_pushes.py $Test_ID $elasticsearch_host $elasticsearch_port</command>
    </hudson.tasks.Shell>
  </builders>
  <publishers/>
  <buildWrappers/>
</project>